version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: ecommerce-mysql
    restart: always
    environment:
      MYSQL_DATABASE: ecommerce
      MYSQL_ROOT_PASSWORD: Hernan007.
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: ecommerce-api
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:mysql://mysql:3306/ecommerce
      DB_USERNAME: root
      DB_PASSWORD: Hernan007.
      DB_DRIVER: com.mysql.cj.jdbc.Driver
    depends_on:
      - mysql

volumes:
  mysql_data:
